In [1]:
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation

In [5]:
transavia = pd.read_csv("../data/transavia/transaviaScrapeData_2023-03-23.csv")
transavia.head()

,scrapeDate,departAirport,arrivalAirport,marketingAirline,departureDate,arrivalDate,flightNumber,totalPrice,baseFare,taxSurcharge
0,2023-03-23,BRU,HER,HV,2023-04-01T06:35:00,2023-04-01T11:00:00,9209,329.0,291.86,37.14
1,2023-03-23,BRU,ALC,HV,2023-04-01T16:35:00,2023-04-01T19:05:00,9003,199.0,161.86,37.14
2,2023-03-23,BRU,IBZ,HV,2023-04-01T12:30:00,2023-04-01T14:50:00,9009,268.0,230.86,37.14
3,2023-03-23,BRU,FAO,HV,2023-04-02T07:10:00,2023-04-02T09:05:00,9007,215.0,177.86,37.14
4,2023-03-23,BRU,ALC,HV,2023-04-02T17:25:00,2023-04-02T19:55:00,9003,182.0,144.86,37.14

# Brussel-Alicante | Aantal vluchten | 15/5/2023 - 20/5/2023

In [6]:
len(transavia.query("departAirport == 'BRU' and arrivalAirport == 'ALC' and (departureDate >= '2023-05-15' and departureDate <= '2023-05-20')"))

3

# Brussel-Faro | Gemiddelde Prijs | juni

In [9]:
transavia.query("departAirport == 'BRU' and arrivalAirport == 'FAO' and (departureDate >= '2023-06-01' and departureDate <= '2023-06-31')").totalPrice.mean()

105.5

# Brussel-Ibiza | Vertrekuur | 24/5/2023

In [17]:
transavia.query("departAirport == 'BRU' and arrivalAirport == 'IBZ' and (departureDate >= '2023-05-24' and departureDate < '2023-05-25') ").departureDate

117    2023-05-24T06:30:00
Name: departureDate, dtype: object

# Brussel-Tenerife | Aankomstuur | 29/7/2023

In [18]:
transavia.query("departAirport == 'BRU' and arrivalAirport == 'TFS' and (departureDate >= '2023-07-29' and departureDate < '2023-07-30') ").arrivalDate

310    2023-07-29T10:30:00
Name: arrivalDate, dtype: object

# Brussel-Kreta | Aantal vluchten | 1/7/2023 - 15/8/2023

In [19]:
len(transavia.query("departAirport == 'BRU' and arrivalAirport == 'HER' and (departureDate >= '2023-07-01' and departureDate <= '2023-08-15')"))

19